.feedback {
	padding-bottom: 180px;

	@include mediaTablet {
		padding-bottom: 90px;
	}
}

.feedback__title {
	margin-bottom: 38px;

	@include mediaTablet {
		margin-bottom: 19px;
	}
}

.feedback__form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	align-items: center;

    @include mediaTablet {
	    grid-template-columns: 1fr;
	}
}
