.section-map {
	position: relative;
	padding: 180px 0;

	&::before {
		content: 'V';
		position: absolute;
		right: calc(50% + 555px);
		transform: translate(50%, 0%);

		@include decorNumber;
		top: 180px;
		line-height: 1;
	}

	@include mediaTablet {
		padding: 90px 0;
	}
}

.section-map__title {
	margin-bottom: 88px;

	@include mediaTablet {
		margin-bottom: 44px;
	}
}

.section-map__map {

}

.map {
	width: 100%;
	height: 358px;
    background: #626262;
}
